/* general {{{ */
h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1rem;
}
/* }}} */

img#twitter-logo,
img#other-logo,
img#marshmallow-logo {
  width: 5vw;
  height: auto;
}

header button {
  height: 20vh;
  width: 20%;
}



div.topic-aboutme div.aboutme img#icon-me {
  margin-top: 5vh;
}

div.topic-aboutme h1.character-name,
div.topic-aboutme div.character-links,
div.topic-aboutme pre,
div.topic-aboutme img {
  margin: auto;
}

pre.character-details,
pre.character-comments {
  padding: 1rem;
}

/* PopUps {{{ */

div.popUp h1.character-name,
div.popUp div.character-links,
div.popUp pre,
div.popUp img {
  margin: auto;
}


div.popUp {
  position: fixed;
  width: 90%;
  margin-left: 5vw;
  top: 5vh;
  bottom: 3vh;
}

div.popUp div.character button {
  width: 5vw;
  height: auto;
}


div.theme-picker {
  top: 10vh;
  height: 80vh;
  bottom: 10vh;
}
/* }}} */

pre {
  white-space: pre-wrap;
}


svg#icon-colorscheme {
  width: 10%;
  height: auto;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}

svg#icon-colorscheme path  {
  fill: rgba(75,75,75,1)
}






