img#twitter-logo {
  width: 32px;
  height: auto;
}

img#marshmallow-logo {
  width: 32px;
  height: auto;
}


div.topic-aboutme h1.character-name,
div.topic-aboutme h3.character-details,
div.topic-aboutme h3.character-comments,
div.topic-aboutme div.character-links,
div.topic-aboutme pre,
div.topic-aboutme img {
  margin: auto;
}
