h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1rem;
}

img#twitter-logo {
  width: 10vw;
  height: auto;
}

img#marshmallow-logo {
  width: 10vw;
  height: auto;
}

div.character button {
  width: 10vw;
  height: auto;
}

div.topic-aboutme h1.character-name,
div.topic-aboutme div.character-links,
div.topic-aboutme pre,
div.topic-aboutme img {
  margin: auto;
}

pre.character-details,
pre.character-comments {
  padding: 1rem;
}

div.character {
  width: 80%;
  margin: 10vw;
}

pre {
  white-space: pre-wrap;
}
