h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1rem;
}

img#twitter-logo,
img#other-logo,
img#marshmallow-logo {
  width: 5vw;
  height: auto;
}

header button {
  height: 20vh;
  width: 20%;
}

div.character button {
  width: 5vw;
  height: auto;
}

div.topic-aboutme h1.character-name,
div.topic-aboutme div.character-links,
div.topic-aboutme pre,
div.topic-aboutme img {
  margin: auto;
}

pre.character-details,
pre.character-comments {
  padding: 1rem;
}

div.character {
  position: fixed;
  width: 90%;
  margin-left: 5vw;
  top: 5vh;
}

pre {
  white-space: pre-wrap;
}
